[Match]
Name=ens19

[Network]
Address=10.0.1.3/28
#Gateway=10.0.1.11
DHCP=ipv4
DNS=10.0.1.11

[DHCPv4]
UseGateway=no
UseRoutes=no
UseDNS=yes
ClientIdentifier=mac
