apiVersion: apps/v1
kind: Deployment
metadata:
  name: proxy-deployment
spec:
  selector:
    matchLabels:
      app: proxy
  replicas: 2 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: proxy
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
            - containerPort: 80
              protocol: TCP
            - containerPort: 443
              protocol: TCP
        volumeMounts:
            - mountPath: /etc/nginx/conf.d/default.conf
              name: nginx-conf
              readOnly: true
              subPath: default.conf
            - mountPath: /etc/nginx/certs
              name: nginx-certs
              readOnly: true
      restartPolicy: Always
      volumes:
        - configMap:
            items:
              - key: nginx.conf
                path: default.conf
            name: nginx-conf
          name: nginx-conf
        - configMap:
            name: nginx-certs
          name: nginx-certs