[Match]
Name=ens18

[Network]
DHCP=yes
UseGateway=yes
MulticastDNS=true

[Link]
Multicast=yes
UseHostname=false

[DHCPv4]
UseDNS=no
ClientIdentifier=mac

[DHCPv6]
UseDNS=no
ClientIdentifier=mac
